.controls {
  height: fit-content;
  padding: 1rem;
  margin: 1rem;
}

input[type='text'],
textarea,
.btn {
  background-color: var(--mainLightTint);
  color: var(--mainTextColor);
  border: 1px solid var(--mainLightTint);
  margin: 2px;
}

input[type='text'] {
  /* font-family: 'sans-serif'; */
  width: 100%;
  margin-bottom: 1rem;
  padding: 5px;
  font-size: 1.2rem;
}

textarea {
  width: 100%;
  padding: 5px;
  font-size: 1.2rem;
}

.btn,
input[type='button'] {
  width: fit-content;
  padding: 0.4rem;
  margin-bottom: 1rem;
}

.btn:hover,
textarea:hover,
input[type='text']:hover {
  background-image: linear-gradient(var(--mainLightTint), var(--mainLightTint));
  cursor: pointer;
}

input[type='number']::placeholder {
  color: var(--mainColor);
  text-shadow: none;
}

@media only screen and (max-width: 280px) {
  .controls {
    padding: 1px;
    margin: 10px;
    width: 100%;
    /* background-color: #333; */
  }
  .addLetter {
    padding: 1px;
  }

  .spinnerUp,
  .spinnerDown {
    padding: 1px;
    margin: 5px;
    border-radius: 5px;
  }

  .addLetter {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: center;
    width: max-content;
    padding: 2px;
    background-color: var(--mainColor);
  }
  #btnPlay {
    padding: 10px;
    width: fit-content;
    color: var(--mainFontColor);
    font-size: 1rem;
    /* border: 2px solid var(--mainFontColor); */
    border-radius: 5%;
    transition: all 0.05s ease-in-out;
  }
}

@media only screen and (max-width: 580px) {
  .controls {
    padding: 1px;
    margin: 10px;
    width: 100%;
    /* background-color: #333; */
  }
}
