header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  text-align: left;
  padding: 1rem;
  background-color: var(--mainLightTint);
}

.infoItem {
  border-right: 1px solid var(--mainTextColor);
  padding: 0.5rem;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin: 1rem;
  padding: 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

fieldset {
  color: var(--mainTextColor);
  border-color: var(--mainTextColor);
}

.taskAddWindow,
.taskEditWindow {
  padding: 0.3rem;
}

.rightPane {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 60%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.leftPane {
  background-color: var(--mainTextColor);
  color: var(--mainColor);
}

.taskEditWindow {
  margin-bottom: 1rem;
}

.taskAddWindow {
  background-color: var(--mainLightTint);
}

.list {
  padding: 1rem;
  /* background-color: orange; */
  /* border: 1px solid var(--mainTextColor); */
}

.listItem {
  width: 20rem;
  background-color: var(--mainDarkTint);
  border: 1px solid var(--mainLightTint);
  /* border-radius: 80px; */
  margin: 5px 0rem;
  padding: 5px 5px 1px 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.listItemStart,
.listItemEnd {
  font-size: 1.2rem;
  display: flex;
  align-items: flex-start;
}

.listItemStart {
  justify-content: flex-start;
}

.listItemEnd {
  justify-content: flex-start;
}
